#nav {
    background-image: linear-gradient(to right, yellow, rgb(207, 137, 137), rgb(78, 29, 214));

    background-repeat: no-repeat;
    border-bottom: 1px black;
    font-weight: bolder;
    color: black;
    background-size: cover;
    overflow: hidden;
    top: 0px;
    position: sticky;
    z-index: 4;


}

div {
    width: auto;
}


h3 {
    text-align: center;
}

.card-header.py-3 {
    width: auto;
}

#last {
    margin-top: 0;



}

#web {
    background-color: blue;
    border-radius: 15px;
    color: yellow;
    box-shadow: 1px 1px 8px 0px grey;
    height: 42px;
    width: 350px;
    text-align: center;
}

#web:hover {
    background-color: rgb(5, 5, 5);
    color: yellow;
}

.card.mb-4.rounded-3.shadow-sm {
    height: auto;
    width: auto;
}




span {

    padding-left: 10px;
    color: black;
    font-weight: 500;
}

#dt {
    text-decoration: none;
}

#btn {
    color: black;
    background-image: linear-gradient(to bottom, white, aqua);
    font-size: 20px;

}


#btn:hover {
    background-image: linear-gradient(to bottom, yellow, rgb(231, 231, 58));
    color: blue;
    box-shadow: 1px 1px 8px 0px yellow;
}

.nav-item:hover {
    text-decoration: underline;

}

#body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-repeat: no-repeat;

    width: 100%;

    background-image: linear-gradient(to top right, blue, rgb(132, 194, 194), yellow);
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL6YUGrJf-AvRuiEjbtyyzgP5Z1B9DQK9EUQ&usqp=CAU"); */

}

#days {
    /* display:grid;
    grid-template-columns: max-content max-content max-content; */
    padding-left: 100px;
    padding-right: 100px;
    grid-auto-flow: column;
    height: 100px;
    width: 100px;
}

/* // */
.all {
    width: 100%;
    height: 100%;

}

@media screen and (max-width: 480px) {
    #body {
        background-image: linear-gradient(to top right, #5151ba, #274182, rgb(83, 83, 154), green, yellow, orange, red);
    }

    .display-4.fw-normal {
        /* background-image: linear-gradient(to bottom right,#157DEC,rgb(243, 243, 55),rgb(66, 54, 54)); */
        background-image: linear-gradient(to bottom, blue, black);
        color: yellow;
        border: 1px black;
        border-radius: 12px;
        
    }
    

    #cityname {
        color: yellow;
        font-weight: 400;
        
        
        
        
     
        
    }
    .card-body{
        background-image: linear-gradient(to bottom,aqua,wheat,white,aqua);
        color: black;
    }
    .card-header.py-3{
       background-image:linear-gradient(to bottom,white,aqua,white); ;
    }

    .my-0.fw-normal.bg-light{
        border-radius: 60px;
        box-shadow: 1px 1px 8px 1px black;
    }
    #nav{
        background-image: linear-gradient(to bottom right,white,rgb(133, 133, 212),white);
    }
    /* // */
    

    
}
#h2{
    background-image: linear-gradient(to bottom,blue,#00008c);
    color: yellow;
   
    border-radius: 24px;
}
#cityname{
    color: yellow;
}
.display-4.fw-normal{
    border-radius: 24px;

}
.card-body{
    background-image: linear-gradient(to top right,white,rgb(132, 219, 219),white);
    color: black;
    box-shadow: 1px 1px 8px 1px grey;
    /* border-radius: 30px; */
}
.my-0.fw-normal.bg-light{
    border-radius: 60px;
    
    box-shadow: 1px 1px 8px 1px black;
}
thead tr        { 
    height:60px;
    background:rgb(212, 206, 207);
    font-size:16px;
  }
thead tr:hover{ 
    
    background: yellow;
    
    
  }
  tbody tr{
    background-image: linear-gradient(to top right,aqua,wheat,white,aqua);
    color: white;
  }

  tbody tr:hover{
    background-image:linear-gradient(to top,rgb(97, 97, 255),rgb(163, 163, 253));
    color: white;
    text-transform: uppercase;
    
    
  }
  